*.visualJS
*.uni
*.vdb
project/server/node_modules/
project/client/node_modules/
project/client/package-lock.json
project/client/lib/visual_script/**.*
project/client/lib/visual_script/
project/client/cache/
test-npm/node_modules/